# ignore everything
* 

# Add main src 
!src/
!src/**
!scope.py
!tests/
!tests/**

# Add notebooks
!notebooks/
!notebooks/**

# Add repo related files 
!.gitignore
!.gitattributes
!README.md
!requirements.txt

# Ignore python byte-code
__pycache__/
# Ignore pickle dumps 
saved_results/ 
# Ignore incomplete code
src/api

