# ignore everything
* 

# Add main src 
!src/
!src/**

# Add notebooks
!notebooks/
!notebooks/**

# Add repo related files 
!.gitignore
!.gitattributes
!README.md
!requirements.txt

# Ignore python byte-code
__pycache__/
